.nav-link:hover{
    color: red;
}
.conatiner{
    background-image: url(/images/banner-main.jpg);
    height: 600px;
}
.footer-bakground{
    background-color: black;
    color: white;
    border-radius: 10px;
}


.quick-links{
    
     display: inline-block;
     padding-left: 100px;
}
.NAV{
    color: white;
}

.contactUs{
     display: inline-block;
     padding-left: 100px;
}